img {
  width: 200px;
}
.all-logos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  display: grid;
  grid-gap: 30px 200px;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 200px);
}

@media only screen and (max-width: 960px) {
  .logo {
    grid-template-columns: 200px 200px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    grid-template-columns: 200px;
  }
}
