<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Template Vechi</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="photos.css" />
  </head>
  <body>
    <section class="grid_container">
      <img src="/assets/pics/summer1.jpg" alt="images1" />
      <img src="/assets/pics/summer2.jpg" alt="images2" />

      <img src="/assets/pics/summer3.jpg" alt="images3" />
      <img src="/assets/pics/summer4.jpg" alt="images4" />

      <img src="/assets/pics/summer5.jpg" alt="images5" />
      <img src="/assets/pics/summer6.jpg" alt="images6" />

      <img src="/assets/pics/summer7.jpg" alt="images7" />
      <img src="/assets/pics/summer8.jpg" alt="images8" />
    </section>
  </body>
</html>
