<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necola/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="add-note-element.css" />
  </head>

  <body class="note-container">
    <section class="rectangle">
      <div class="note-element">
        <textarea class="input1" placeholder="Write your text here"> </textarea
        ><br />
      </div>
      <div class="buttons">
        <button class="style-button">H1</button>
        <button class="style-button">H2</button>
        <button class="style-button">H3</button>
        <button class="style-button">IMG</button>
        <button class="style-button">P</button>
        <button class="style-button">UL</button>
        <button class="style-button">LINK</button>
      </div>
    </section>
  </body>
</html>
