<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="note-list.css" />
  </head>
  <body>
    <section class="cards-section">
      <div class="column">
        <div class="card">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            quisquam, cumque illum quibusdam minima blanditiis sed. Tenetur
            alias aliquid nostrum voluptatibus omnis saepe animi sapiente sequi
            cupiditate odit! Iure, alias.
          </p>

          <p class="date">
            20 iulie
          </p>
        </div>
        <div class="card">
          <h1>
            You have a nice heart
          </h1>

          <p class="date">
            20 iulie
          </p>
        </div>
        <div class="card">
          <p><a href="#">CSS Advanced</a></p>

          <p class="date">
            20 iulie
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <ul>
            <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. .
            </li>
            <li>
              Itaque eos corrupti, similique ea aspernatur veniam iusto
              doloribus vitae aliquid odio facilis, totam quis distinctio, illo
              deserunt perspiciatis aperiam? Vel, nam
            </li>
            <li>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Provident vitae necessitatibus laudantium autem doloremque
              nostrum, ad corporis. Quaerat fugit magni soluta dolorem, id
              nesciunt ullam nam voluptatibus consectetur, eaque praesentium!
            </li>
            <li>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis,
              eum inventore. Labore, eum enim assumenda vel accusamus porro illo
              voluptate minima sint eius. Facere dignissimos, amet eum esse
              praesentium ea.
            </li>
          </ul>

          <p class="date">
            20 iulie
          </p>
        </div>
        <div class="card">
          <div class="photo">
            <img
              src="https://images.unsplash.com/photo-1506084868230-bb9d95c24759?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
            />
          </div>

          <p class="date">
            20 iulie
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
