<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Features</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="features.css" />
  </head>

  <body class="features-all">
    <section class="features">
      <h2>Features</h2>
      <p>
        Notes is the perfect place to take advantage of the free time on your
        hands. It can give you a myriad of new opportunities in order to feel
        free with yourself. It may also remind you of forgotten moments you
        sometimes had and it will constantly bring back alluring memories from
        back in time.
      </p>
    </section>
    <section id="feature-boxes">
      <div class="feature-container">
        <div class="feature-box">
          <img src="https://image.flaticon.com/icons/svg/2921/2921226.svg" />
          <h3>Create Personalized Notes</h3>
          <p>
            Using Notes you can effortlessly personalize your items. In other
            words, you are able to add photos, highlight or even add stickers to
            everything you write.
          </p>
        </div>
        <div class="feature-box">
          <img src="https://image.flaticon.com/icons/svg/2921/2921305.svg" />
          <h3>Share Notes</h3>
          <p>
            The written notes can be easily shared with everyone else. It also
            allows them to give feedback and to react with emojis to your
            thoughts.
          </p>
        </div>
        <div class="feature-box">
          <img src="https://image.flaticon.com/icons/svg/2921/2921130.svg" />
          <h3>Fast Delete</h3>
          <p>
            One click and your notes can be deleted. This site offers the
            possibility to erase everything faster than you thought. It is
            uncomplicated to use and easy on hand.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
