<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hero</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="hero.css" />
  </head>

  <body>
    <section id="hero-id">
      <div class="container-hero">
        <h2>Let your contemplations slide </h2>
        <p>Be the person who makes everything become animated.
           Be other people’s motivation for the every day life. Compose your own notes.</p>
      </div>
      <section>
  </body>
</html>
