<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="stylesheet" href="settings.css" />
  </head>
  <body class="settings_bar">
    <section class="bar_dashboard">
      <div class="bar_change_settings">
        <h1 class="name">Settings</h1>
        <button class="button">SAVE SETTINGS</button>
      </div>
    </section>

    <section class="bar-inputs">
      <div class="inputs">
        <div class="custom">
          <input type="text" placeholder="Full name" /><br />
          <input type="password" placeholder="Old Password" /><br />
          <input type="password" placeholder="New Password" /><br />
          <input type="password" placeholder="Confirm Password" /><br />
        </div>
        <div class="Theme">
          <textarea class="input1" placeholder="Custom Theme"> </textarea><br />
        </div>
      </div>
    </section>
  </body>
</html>
